

// Green button no border font black

.btn-green{
    padding: .625rem 1.875rem;
    font-weight: bold;
    background-color: #d8f0e3;
    border: none;
    font-size: .9375rem;
    color: #000;
    text-transform: uppercase;
}