:root{

    // COLORS
   --primary-pink: #f5d8ca; 
   --circle-color: #faf7f1;

   // COLORS WORKING PROCESS SECTION
   --lamp-color: #badac9;
   --mex-color: #f8f12d;
   --cloud-color: #80465f;
   --pen-color: #eb6950;

   // COLORS WORK WITH US SECTION
   --main-bg-color: #fbf9f9;
    
    // SPACES
   --padding-section: 6.25rem 0;

}